body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("monika.png"), url("sayori.png"), url("yuri.png");
}
h1 {
  color: mediumorchid;
  font-size: 50px;
  margin: 80px;
}
div {
  margin-top: 200px;
  margin-bottom: 20px;
}
a {
  margin-bottom: 50px;
  font-size: 30px;
}
a:link {
  color: mediumorchid;
}
a:visited {
  color: mediumorchid;
}
a:hover {
  color: violet;
}
